{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Geography list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Code</th>
                <th>Code_3</th>
                <th>Numerical_code</th>
                <th>Name</th>
                <th>Type</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('geography_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                <td>{{ entity.code3 }}</td>
                <td>{{ entity.numericalcode }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('geography_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('geography_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('geography_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
